/*----Footer------*/
.footer {
    height: 22vh;
    background: var(--bg-primary);
    padding: 1.5rem;
  }
  .footerWrap {
    display: flex;
    flex-wrap: wrap;
    gap: 3px 10px;
    font-size: 13px;
    color: var(--color-secondary);
    max-width: 350px;
    margin: 0 auto;
  }
  .footerWrap a {
    display: flex;
    align-items: center;
  }
  .footerWrap a:hover {
    text-decoration: underline;
  }
  .footerSquare {
    background: var(--bg-secondary);
    height: 19px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-third);
  }
  .footerSquare i {
    transform: scale(0.8);
    -webkit-filter: invert(40%);
  }
  .footerSplitter {
    width: 100%;
    height: 1px;
    background: var(--bg-third);
    margin: 10px auto;
    max-width: 900px;
  }
  @media (min-width: 850px) {
    .footerWrap {
      justify-content: space-between;
      max-width: 900px;
    }
    
  }
  /*----Footer------*/