.comment {
  display: flex;
  gap: 5px;
  font-size: 14px;
  margin-top: 5px;
}
.comment_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.comment_image {
  margin-top: 5px;
  width: 200px;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}
.comment_wrap {
  background: var(--bg-forth);
  padding: 5px 15px;
  border-radius: 50px;
}
.create_comment {
  display: flex;
  align-items: center;
  gap: 5px;
}
.create_comment img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.comment_actions {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--color-secondary);
  margin-left: 10px;
}
.view_comments {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-secondary);
}
.view_comments:hover {
  text-decoration: underline;
}
.comment_emoji_picker {
  position: absolute;
  right: 0;
  bottom: 2.5rem;
}
.comment_circle_icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.comment_input_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: var(--bg-forth);
  border-radius: 50px;
  padding-right: 10px;
}
.comment_input_wrap input {
  outline: none;
  border: none;
  flex: 1;
  height: 35px;
  padding: 0 10px;
  color: var(--color-primary);
  background: transparent;
}

@media (max-width: 400px) {
  .comment_input_wrap input {
    font-size: 12px;
  }
}
