/* src/components/Input.module.css */
.inputContainer {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
  color: #333;
  order: 1;
}

.input {
    outline: none;
    border: 1px solid var(--bg-third);
    background: var(--bg-primary);
    width: 100%;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: var(--color-primary);
}

.input:focus {
  outline: none;
  border-color: var(--blue-color);
}

.errorInput {
  border-color: #ff4d4d;
}

.errorText {
  position: relative;
  padding: 15px 10px;
  background: #b94a48;
  width: 100%;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.errorTextDesktop {
  position: absolute;
  width: 300px;
  left: -19.5rem;
  top: -3px;
}
.errorArrowTop {
    border-top: 10px solid #b94a48;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
}

.errorArrowBottom {
    border-bottom: 10px solid #b94a48;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
}
.errorArrowLeft {
    border-left: 10px solid #b94a48;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: -10px;
    top: 13px;
}
.errorIcon {
    position: absolute;
    right: 10px;
    top: 63%;
}
.errorIconDesktop {
    position: absolute;
    right: 10px;
    top: 16px;
}


.order2 {
    order: 2;
}
.order3{
    order: 3;
}