
.login {
  background: var(--bg-secondary);
}
.wrapper {
  height: 70%;
  color: var(--color-primary);
}

.iconContainer {
  width: 300px;
  margin: 0 auto;
}

.iconContainer span {
  font-size: 20px;
}

.formContainer {
  text-align: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 1rem;
  padding-bottom: 2rem;
  width: 350px;
  height: fit-content;
  margin: 1rem auto;
  border-radius: 10px;
}
.inputContainer {
  width: 320px;
}
.inputClassName {
  width: 100%;
  height: 50px;
}
.submit {
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: 700;
  padding: 1rem 2rem;
}
.forgoLink {
  color: var(--blue-color);
  font-size: 14px;
  cursor: pointer;
}
.forgoLink:hover {
  text-decoration: underline;
}
.splitter {
  margin-top: 2rem;
  width: 100%;
  height: 1px;
  background: var(--divider);
}
.signUp {
  width: 70%;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
}
.extraLink {
  font-size: 15px;
}
@media (min-width: 850px) {
  .login{
    margin: auto;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
   
  }

  .iconContainer {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15vh;
  }
  .iconContainer img {
    width: 300px;
    margin-left: -1.7rem;
  }
  .iconContainer span {
    font-size: 28px;
  }

  .formWrapper {
    width: 400px;
  }
  .inputContainer {
    width: 360px !important;
  }
 
  
}