.voiceCallButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
    position: relative;
  }
  
  .voiceCallButtonContainer:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .voiceCallButtonIcon {
    fill: currentColor;
  }
  
  .voiceCallButtonMask {
    position: absolute;
    inset: 0;
  }
  