/* VerifyEmail.module.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .content {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .loadingText {
    font-size: 1.2rem;
    color: #555;
  }
  
  .message {
    font-size: 1.2rem;
    color: #333;
  }
  
  .mobile {
    width: 90%;
    font-size: 1rem;
  }
  
  .desktop {
    width: 50%;
    font-size: 1.5rem;
  }

  .errorText {
    position: relative;
    padding: 15px 10px;
    background: #b94a48;
    width: 100%;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  